@import "_mixin.scss";

.wrapper-a{
	// background: url('../images/main-page/bg_footer.jpg') bottom/ auto 555px no-repeat;
	// @media(min-width: 1340px){
	// 	background: url('../images/main-page/bg_footer.jpg') bottom/ auto 555px no-repeat;
	// }
}
.container-a{
	max-width: $maxWCont + px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}
.content{
	font-family: 'Forum';
}
.title{
	&_h1{
		letter-spacing: 0.04em;
text-transform: uppercase;
		@include singleVar(font-size, 198, 72, 1);
	}
	&_h2{
		line-height: 1;
		letter-spacing: 0.04em;
text-transform: uppercase;
		@include singleVar(font-size, 142, 72, 1);
	}
	&_h3{
		color: #0C0B10;
		line-height: 0.97;
		@include singleVar(font-size, 60, 40, 1);
	}
	&_h4{
		letter-spacing: 0.3em;
text-transform: uppercase;
		@include singleVar(font-size, 25, 17, 1);
	}
	&_h5{
		font-weight: 300;
		line-height: 0.985;
		@include singleVar(font-size, 36, 32, 1);
	}
	&_h6{
		font-size: 44px;
		line-height: 98.5%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}
}
.text{
	&_h1{
		font-family: 'Manrope';
		line-height: 1.75;
		font-weight: 300;
		@include singleVar(font-size, 21, 18, 1);
	}
	&_h2{
		font-family: 'Manrope';
		font-weight: 500;
		font-size: 11px;
		line-height: 1.36;
		@media(min-width: 768px){
			font-size: 12px;
		}
	}
	&_h3{
		line-height: 0.985;
		@include singleVar(font-size, 24, 21, 1);
	}
	&_h4{
		font-size: 16px;
		line-height: 1.13;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}
	&_h5{
		font-family: 'Manrope';
		font-size: 16px;
		line-height: 179.8%;
	}
	&_h6{
		font-size: 40px;
		color: #0C0B10;
	}
}

.btn{
	&_1{
		display: inline-block;
		position: relative;
		width: 75px;
		height: 75px;
		transform: rotate(45deg);
		background: #79655E;
		&:before, &:after{
			content: '';
			position: absolute;
		}
		&:before{
			top: 50%;
			left: 50%;
			transform: translate(-50%) rotate(-45deg);
			width: 28px;
			height: 1px;
			background: #ffffff;
		}
		&:after{
			top: 36%;
			right: 33%;
			width: 12px;
			height: 12px;
			border-top: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
		}
	}
}
.romb{
	&_a{
		&:after{
			content: '';
			width: 30px;
			height: 30px;
			background: rgba(255, 255, 255, 0.31);
			backdrop-filter: blur(5px);
			transform: translateY(-50%) rotate(45deg) skew(20deg, 20deg);
			border: 1px solid #d6d8dc;
			}
		}
		&_b{
		&:before{
			content: '';
			width: 30px;
			height: 30px;
			background: rgba(255, 255, 255, 0.31);
			backdrop-filter: blur(5px);
			transform: translateY(-50%) rotate(45deg) skew(20deg, 20deg);
			border: 1px solid #d6d8dc;
		}
	}
	&_t{
		width: 30px;
		height: 30px;
		background: rgba(255, 255, 255, 0.31);
		backdrop-filter: blur(5px);
		transform: translateY(-50%) rotate(45deg) skew(20deg, 20deg);
		border: 1px solid #d6d8dc;
	}
}
.slider{}
.slider-track{}
.slider-container{}
.slider-item{}