@import "_mixin.scss";

.main-block {
	min-height: 100vh;
	&__body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	}
	&__content {}
	&__content-sup-title {
		position: absolute;
		@include singleVar(top, -135, -100, 1);
		left: 50%;
		transform: translateX(-50%);
		z-index: 4;
		line-height: 0.98;
		text-align: center;
		color: #0C0B10;
		max-width: 140px;
		margin: 0 auto;
		@media(max-height: 800px){
			max-width: 150px;
			@include singleVar(top, -120, -100, 1);
		}
		@media(max-height: 700px){
			max-width: 250px;
			@include singleVar(top, -70, -100, 1);
		}
		@media(max-height: 600px){
			max-width: 350px;
			@include singleVar(top, -40, -100, 1);
		}
	}
	&__content-sub-title{
		text-align: center;
		color: #FCFCFC;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
	}
	&__content-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		line-height: 0.65;
		text-align: center;
		color: #FCFCFC;
		z-index: 2;
	}
	&__parallax {}
	&__parallax-romb {
				&:before, &:after{
					content: '';
					@include singleVar(width, 120, 75, 1);
					@include singleVar(height, 120, 75, 1);
				border: 1px solid #d6d8dc;
				position: absolute;
				z-index: 3;
				background: rgba(255, 255, 255, 0.31);
				backdrop-filter: blur(5px);
				transform: translate(-50%, -50%) rotate(45deg) skew(20deg, 20deg);
				}
		&_01 {
			&:before{
				top: 65%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
				animation: romb-flight01 120s infinite linear;
			}
			&:after{
				top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
				animation: romb-flight02 120s infinite linear;
			}
		}
		&_02 {
			&:before{
				top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
				animation: romb-flight03 120s infinite linear;
			}
			&:after{
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
				animation: romb-flight04 120s infinite linear;
			}
		}
		&_03{
			&:before{
				top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
				animation: romb-flight05 120s infinite linear;
			}
			&:after{
				top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
				animation: romb-flight06 120s infinite linear;
			}
		}
	}
	@keyframes romb-flight06 {
		0%{}
		14%{
				top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		32%{
			top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
		}
		50%{
			top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		64%{
			top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
		}
		82%{
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
		}
		100%{
			top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
		}
	}
	@keyframes romb-flight05 {
		0%{}
		18%{
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
		}
		36%{
			top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		50%{
			top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
		}
		68%{
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
		}
		86%{
			top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
		}
		100%{
			top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
	}
	@keyframes romb-flight04 {
		0%{}
		18%{
				top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		32%{
			top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
		}
		50%{
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
		}
		68%{
			top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
		}
		82%{
			top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		100%{
			top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
		}
	}
	@keyframes romb-flight03 {
		0%{}
		18%{
				top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
		}
		36%{
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
		}
		54%{
			top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
		}
		68%{
			top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		86%{
			top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
		}
		100%{
			top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
	}
	@keyframes romb-flight02 {
		0%{}
		18%{
				top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
		}
		36%{
			top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
		}
		50%{
			top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		64%{
			top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
		}
		82%{
			top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		100%{
			top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
		}
	}
	@keyframes romb-flight01 {
		0%{}
		18%{
				top: 65%;
				left: 7%;
				transform: translate(-50%, -50%) scale(0.4) rotate(45deg) skew(20deg, 20deg);
		}
		32%{
			top: 43%;
				left: 15%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		50%{
			top: 40%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.1) rotate(45deg) skew(20deg, 20deg);
		}
		68%{
			top: 53%;
				left: 86%;
				transform: translate(-50%, -50%) scale(0.25) rotate(45deg) skew(20deg, 20deg);
		}
		82%{
			top: 70%;
				left: 83%;
				transform: translate(-50%, -50%) scale(0.5) rotate(45deg) skew(20deg, 20deg);
		}
		100%{
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.0) rotate(45deg) skew(20deg, 20deg);
		}
	}
	&__parallax-tailand, &__parallax-lackes, &__parallax-mountain,
	&__parallax-cloud1, &__parallax-cloud2, &__parallax-main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 4s;
	}
	&__parallax-main{
		background: url('../images/main-page/sand-sky.jpg') top/cover no-repeat;
	}
	&__parallax-tailand {
		background: url('../images/main-page/tailand.png') bottom -100px center/ auto 70vh no-repeat;
	}
	&__parallax-lackes {
		z-index: 2;
		background: url('../images/main-page/mountain-lakes.png') bottom -100px center/ auto 60vh no-repeat;
	}
	&__parallax-mountain {
		z-index: 4;
		background: url('../images/main-page/mountain.png') bottom -150px center/ auto 50vh no-repeat;
	}
	&__parallax-cloud1 {}
	&__parallax-cloud2 {}
	@media(min-width: 768px){
		&__content-title{
			top: 45%;
		}
		&__parallax-mountain {
		background: url('../images/main-page/mountain.png') bottom -150px center/ 100% 50vh no-repeat;
		}
		&__parallax-lackes {
			background: url('../images/main-page/mountain-lakes.png') bottom -100px center/ 100% 60vh no-repeat;
		}
		&__parallax-tailand {
			background: url('../images/main-page/tailand.png') bottom -100px center/100% 70vh no-repeat;
		}
		&__parallax-main{
		background: url('../images/main-page/sand-sky.jpg') top/ 100% 100vh no-repeat fixed;
		}
	}
}

.content-block{
	background: #E2D3CE;
	position: relative;
	z-index: 3;
	&:before{
		content: '';
		pointer-events: none;
		position: absolute;
		left: 0;
		top: -350px;
		width: 100%;
		height: 351px;
		z-index: 4;
		background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%,
		rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
	}
	&:after{
		content: '';
		position: absolute;
		top: 8%;
		left: 0;
		width: 100%;
		height: 1000px;
		z-index: -1;
		background: linear-gradient(180deg, #E2D3CE 0%, #C9C8D8 40.73%, #D4D8C6 89.37%, #E2D3CE 100%);
	}
	&__sub-block{
		position: relative;
		z-index: 3;
	}
	&__sub-block01{
		position: relative;
		overflow: hidden;
	}
	&__bg-beach{
		position: absolute;
		bottom: 49%;
		left: 0;
		@include singleVar(height, 980, 580, 1);
		width: 100%;
		z-index: -1;
		background: url('../images/main-page/bg-beach.jpg') center/ auto no-repeat;
		&:before, &:after{
			content: '';
			@include singleVar(height, 430, 255, 1);
			width: 100%;
			position: absolute;
			left: 0;
		}
		&:before{
			background: linear-gradient(0deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
			top: 0;
		}
		&:after{
			background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
			bottom: 0;
		}
	}
	&__cloud01 {
		position: absolute;
		top: 37%;
		left: 70%;
		z-index: -1;
		width: 945px;
		height: 350px;
		transform: rotate(5deg);
		animation: cloud01 180s normal linear infinite;
		background: url('../images/main-page/clouds/cloud01.png') center/auto no-repeat;
	}
	&__cloud02 {
		position: absolute;
		top: 40%;
		left: 0%;
		z-index: -1;
		width: 740px;
		height: 550px;
		transform: scale(-0.8, 0.8) rotate(-6.26deg);
		animation: cloud02 170s linear infinite;
		background: url('../images/main-page/clouds/cloud05.png') center/auto no-repeat;
	}
	&__cloud03 {
		position: absolute;
		top: 50%;
		left: 60%;
		z-index: -1;
		width: 740px;
		height: 550px;
		transform: scale(-1.25, 1.25) rotate(-16.5deg);
		animation: cloud03 160s linear infinite;
		background: url('../images/main-page/clouds/cloud05.png') center/auto no-repeat;
	}
	&__cloud04 {
		position: absolute;
		top: 60%;
		left: 80%;
		z-index: -1;
		width: 740px;
		height: 550px;
		transform: scale(0.9, 0.9) rotate(10.5deg);
		animation: cloud04 150s linear infinite;
		background: url('../images/main-page/clouds/cloud05.png') center/auto no-repeat;
	}
	&__cloud05 {
		position: absolute;
		top: 55%;
		left: -20%;
		z-index: -1;
		width: 740px;
		height: 550px;
		transform: scale(0.9, 0.9) rotate(-5deg);
		animation: cloud05 190s linear infinite;
		background: url('../images/main-page/clouds/cloud05.png') center/auto no-repeat;
	}
	@media(min-width: 768px){
		&__cloud01{
			top: 33%;
		}
		&__bg-beach{bottom: 19%;}
	}
	@media(min-width: 1440px){
		&__bg-beach{background: url('../images/main-page/bg-beach.jpg') center/100% auto no-repeat;}
	}
}
@keyframes cloud05 {
	0%{}
	20%{
		top: 54%;
		left: -50%;
	}
	20.000000001%{
		top: 62%;
		left: 100%;
	}
	100%{
		top: 55%;
		left: -20%;
	}
}
@keyframes cloud04 {
	0%{}
	85%{
		top: 55%;
		left: -50%;
	}
	85.000000001%{
		top: 61%;
		left: 100%;
	}
	100%{
		top: 60%;
		left: 80%;
	}
}
@keyframes cloud03 {
	0%{}
	70%{
		top: 46%;
		left: -60%;
	}
	70.000000001%{
		top: 51%;
		left: 100%;
	}
	100%{
		top: 50%;
		left: 60%;
	}
}
@keyframes cloud02 {
	0%{}
	30%{
		top: 38%;
		left: -50%;
	}
	30.000000001%{
		top: 42%;
		left: 100%;
	}
	100%{
		top: 40%;
		left: 0%;
	}
}
@keyframes cloud01 {
	0%{}
	80%{
		left: -70%
	}
	80.000000001%{
		left: 100%;
	}
	100%{
		left: 70%;
	}
}
.main-slider {
	@include singleVar($mb, 125, 100, 1);
	&__container {
	}
	&__title {
		@include singleVar($pt, 50, 25, 1);
		@include singleVar($pb, 50, 25, 1);
		margin: 0 auto 10px;
		text-align: center;
		max-width: 300px;
		position: relative;
		z-index: 1;
		background: url('../images/main-page/romb.svg') center/contain no-repeat;
	}
	&__filter {
		display: flex;
		justify-content: space-between;
		overflow-x: auto;
		padding-bottom: 20px;
		@include singleVar($pl, 80, 20, 1);
		@include singleVar($pr, 80, 20, 1);
		margin: 0 0 10px;
	}
	&__filter-btn {
		font-size: 24px;
		color: #79655E;
		padding: 0 10px;
		white-space: nowrap;
		transition: transform 0.3s;
		input{display: none;}
		&:hover{transform: scale(1.1);}
		&:active{transform: scale(1.0)}
		&.active{
			color: #0C0B10;
			position: relative;
			&:before{
				content: url('../images/main-page/crown01.svg');
				position: absolute;
				bottom: -70%;
				left: 50%;
				transform: translate(-50%);
			}
		}
		&.no-active{
			pointer-events: none;
			color: rgb(190, 190, 190);
		}
	}
	&__slider {
		overflow: hidden;
		padding: 0 15px;
	}
	&__slider-btn {
		position: absolute;
		top: 50%;
		z-index: 2;
		transition: transform 0.2s;
		&.prev{
			transform: translateY(-50%) rotate(-135deg);
			left: -10px;
			&:hover{transform: translateY(-50%) rotate(-135deg) scale(1.1);}
			&:active{transform: translateY(-50%) rotate(-135deg);}
		}
		&.next{
			transform: translateY(-50%) rotate(45deg);
			right: -10px;
			&:hover{transform: translateY(-50%) rotate(45deg) scale(1.1);}
			&:active{transform: translateY(-50%) rotate(45deg);}
		}
	}
	&__slider-container {
		max-width: 1140px;
		margin: 0 auto;
		position: relative;
		overflow: visible;
	}
	&__slider-track {
		transition: transform 0.6s;
		display: flex;
		@include singleVar($mr, -15, -8, 1);
		@include singleVar($ml, -15, -8, 1);
	}
	&__slider-item {
		@include singleVar($pr, 15, 10, 1);
		@include singleVar($pl, 15, 10, 1);
	}
	@media(min-width: 1160px){
		&__slider-btn{
			&.prev{
				left: -35px;
			}
			&.next{
				right: -35px;
			}
		}
	}
}
.trip-card {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	@include singleVar(min-width, 350, 300, 1);
	@include singleVar(height, 570, 520, 1);
	img{
		height: 100%;
		width: 100%;}
	&:hover{
		.trip-card__customise{
			opacity: 1;
		}
	}
	&__info {
		padding: 30px;
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0B2034 100%);
		@include singleVar(height, 355, 305, 1);
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__about {
		flex: 1 1 auto;
		@include singleVar($mr, 35, 15, 1);
	}
	&__place {
		padding: 0 0 0 20px;
		margin: 0 0 10px;
		background: url('../images/main-page/pointer.svg') left/contain no-repeat;
	}
	&__name {
		display: inline-block;
		margin: 0 0 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		transition: transform 0.3s;
		&:hover{transform: scale(1.1);}
		&:active{transform: scale(1.0)}
	}
	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__customise{
		opacity: 0;
		padding: 9px 27px;
		border-radius: 61.3171px;
		border: 1px solid #ffffff;
		transition: transform 0.2s, opacity 0.3s;
		&:hover{transform: scale(1.1);}
		&:active{transform: scale(1.0)}
	}
	&__price {
		b{
			display: inline-block;
			margin: 0 0 3px;
			text-transform: uppercase;}
	}
	&__price-price {
	}
	&__rating {}
	&__rating-rating {
		margin: 0 0 3px;
	}
	&__rating-scale {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
	}
	&__rating-point {
		margin: 5px 0;
		transform: rotate(48deg) skew(20deg, 15deg);
		width: 9px;
		height: 9px;
		border: 1px solid #ffffff;
		&.active{background: #ffffff;}
	}
}

.luxary {
	margin: 0 0 155px;
	&__container {
	}
	&__content{
		overflow-x: auto;
		@include singleVar(grid-column-gap, 30, 16, 1);
	}
	&__item {}
	&__title {}
	&__title-wrapper{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__item-title{
		display: flex;
		align-items: center;
	}
	&__link {
		white-space: nowrap;
		display: inline-block;
		border-radius: 61.3171px;
		color: #0C0B10;
		padding: 10px 35px;
		border: 1px solid #0C0B10;
		transition: transform 0.3s;
		&:hover{transform: scale(1.1);}
		&:active{transform: scale(1.0);}
	}
	@media(max-width: 1139px){
		&__content{
		display: grid;
		grid-template-rows: minmax(100px, 150px) 1fr;
		grid-template-areas:
		"title title title title title"
		"item1 item2 item3 item4 item5";
	}
	&__item {
		&:nth-child(2){grid-area: item1;}
		&:nth-child(3){grid-area: item2;}
		&:nth-child(4){grid-area: item3;}
		&:nth-child(5){grid-area: item4;}
		&:nth-child(6){grid-area: item5;}
	}
	&__title {}
	&__title-wrapper{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		@include singleVar(width, 1100, 320, 1);
	}
	&__item-title{
		display: flex;
		align-items: center;
		grid-area: title;
	}
	}
	@media(min-width: 1140px){
		&__title {margin: 0 0 30px;}
		&__title-wrapper{
			margin: 0 0 60px;
			display: block;
		}
		&__content{
			padding: 10px 0;
			display: grid;
			grid-row-gap: 23px;
			overflow: visible;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(9, 1fr);
			}
			&__item-title{
			@include singleVar(width, 350, 300, 1);
			@include singleVar(height, 570, 520, 1);
			grid-row: 1/5;
		}
			&__item {
				&:nth-child(5){
					grid-row: 6/10;
				}
				 &:nth-child(2){
					grid-row: 2/6;
				}

				&:nth-child(4), &:nth-child(6){
					grid-row: 5/9;
				}
				&:nth-child(3){
					grid-row: 1/5;
				}
		}
	}
}
.trip-link {
	color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s, box-shadow 0.3s;
	@include singleVar(width, 350, 300, 1);
	@include singleVar(height, 570, 520, 1);
	img{
		height: 100%;
		width: 100%;}
	&:hover{
		transform: translate(-5px, -5px);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	}
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 180px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #0B2034 100%);
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		max-width: 250px;
		margin: 0 0 20px;
		text-align: center;
	}
	&__link {
		border: 1px solid #79655E;
		position: absolute;
		left: 50%;
		bottom: 90px;
		transform: translate(-50%) rotate(45deg) skew(20deg, 20deg);
		padding: 5px;
		output{font-size: 35px;}
		b{
			font-weight: 400;
			font-size: 21px;
		}
	}
	&__link-wrapper{
		padding: 15px;
		display: inline-block;
		background: rgba(145, 145, 145, 0.14);
		backdrop-filter: blur(10px);
		transition: transform 0.3s;
		span{
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: skew(-20deg, -20deg) rotate(-45deg);
		background: url('../images/main-page/arrow.svg') bottom no-repeat;
		}
		&:hover{transform: scale(1.1);}
		&:active{transform: scale(1.0);}
	}
}
.book {
	&__container {}
	&__title {
		text-align: center;
		margin: 0 auto 65px;
		max-width: 160px;
	}
	&__block {
		display: grid;
		padding: 10px 0;
		justify-items: center;
		@include singleVar(grid-row-gap, 30, 14, 1);
	}
	&__link {
		height: 190px;
		width: 100%;
		max-width: 540px;
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		transition: transform 0.3s, box-shadow 0.3s;
	img{
		object-fit: cover;
		height: 100%;
		width: 100%;}
	&:hover{
			transform: translate(-5px, -5px);
			box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
		}
		&:active{
			transform: translate(0, 0);
			box-shadow: unset;
		}
	}
	&__link-title{
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
	}
	@media(min-width: 768px){
		&__block{
			grid-auto-flow: column;
			grid-column-gap: 30px;
			grid-template-rows: repeat(3, 1fr);
			grid-template-columns: repeat(2, 1fr);
		}
		&__title {
			max-width: 190px;
		}
	}
}

.why {
	position: relative;
	z-index: 2;
	&__parallax {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 80%;
		background: url('../images/main-page/mountains.png') center/auto no-repeat;
		z-index: -1;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 550px;
			background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.37) 42.71%, #E2D3CE 100%);
		}
	}
	&__parallax-container {
		position: relative;
		height: 100%;
		&:before{
				@include singleVar(width, 120, 75, 1);
				@include singleVar(height, 120, 75, 1);
				content: '';
				border: 1px solid #d6d8dc;
				position: absolute;
				top: 40%;
				left: 50%;
				z-index: 2;
				background: rgba(255, 255, 255, 0.31);
				backdrop-filter: blur(4px);
				transform: translate(-50%, -50%) rotate(0deg) rotate(45deg) skew(20deg, 20deg);
				animation: romb-rotate 10s infinite;
			}
	}
	@keyframes romb-rotate {
		0%{}
		50%{transform: translate(-50%, -50%) rotateY(180deg) rotate(45deg) skew(20deg, 20deg);}
		100%{}
	}
	&__parallax-pic{
		background: url('../images/main-page/mont.png') center/ auto no-repeat;
		position: absolute;
		top: 41%;
		left: 56%;
		width: 640px;
		height: 460px;
		transform: translate(-50%, -50%);
		z-index: 1;
		display: none;
	}
	&__parallax-icon {
		@include singleVar(width, 145, 100, 1);
		@include singleVar(height, 325, 225, 1);
		position: absolute;
		img{
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
		&:after{
			@include singleVar(width, 60, 30, 1);
			@include singleVar(height, 60, 30, 1);
			content: '';
			border: 1px solid #d6d8dc;
			position: absolute;
			bottom: -8%;
			left: 50%;
			z-index: 2;
			background: rgba(255, 255, 255, 0.31);
			backdrop-filter: blur(4px);
			transform: translate(-50%) rotate(45deg) skew(20deg, 20deg);
		}
		&_01 {
			top: 20%;
			left: 0;
			transform: scale(0.95);
			animation: fly01 180s infinite;
			&:before{
				@include singleVar(width, 30, 20, 1);
				@include singleVar(height, 30, 20, 1);
				content: '';
				border: 1px solid #d6d8dc;
				position: absolute;
				top: 50%;
				left: -9%;
				z-index: 2;
				background: rgba(255, 255, 255, 0.31);
				backdrop-filter: blur(4px);
				transform: translateY(-50%) rotate(45deg) skew(20deg, 20deg);
			}
		}
		&_02 {
			transform: scale(1.0);
			top: 52%;
			left: 85%;
			animation: fly02 180s infinite;
		}
		&_03 {
			transform: scale(0.5);
			top: 23%;
			left: 72%;
			animation: fly03 180s infinite;
		}
	}
	@keyframes fly01 {
		0%{}
		20%{
			top: 60%;
			left: 20%;
			transform: scale(0.96);
		}
		50%{
			transform: scale(1.0);
			top: 52%;
			left: 85%;
		}
		70%{
			transform: scale(0.5);
			top: 23%;
			left: 72%;
		}
		100%{
			top: 20%;
			left: 0;
			transform: scale(0.95);
		}
	}
	@keyframes fly02 {
		0%{}
		30%{
			transform: scale(0.5);
			top: 23%;
			left: 72%;
		}
		50%{
			top: 20%;
			left: 0;
			transform: scale(0.95);
		}
		70%{
			top: 60%;
			left: 20%;
			transform: scale(0.96);
		}
		100%{
			transform: scale(1.0);
			top: 52%;
			left: 85%;
		}
	}
	@keyframes fly03 {
		0%{}
		30%{
			top: 20%;
			left: 0;
			transform: scale(0.95);
		}
		50%{
			top: 60%;
			left: 20%;
			transform: scale(0.96);
		}
		80%{
			transform: scale(1.0);
			top: 52%;
			left: 85%;
		}
		100%{
			transform: scale(0.5);
			top: 23%;
			left: 72%;
		}
	}
	&__parallax-blur{
		position: absolute;
		top: 40px;
		left: 0;
		z-index: 0;
		opacity: 0.56;
			filter: blur(15.5274px);
	}
	&__parallax-icon-wrapper{
		position: relative;
		z-index: 1;
		border-radius: 10px;
		overflow: hidden;
	}
	&__body {
		width: 100%;
		@include singleVar(height, 1700, 1500, 1);
		@include singleVar($pt, 120, 150, 1);
	}
	&__container {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
	}
	&__title-title {
		text-align: center;
		max-width: 220px;
		margin: 0 auto 23px;
	}
	&__title-text {}

	&__content {
		max-width: 645px;
		margin: 0 auto 70px;
		display: grid;
		@include singleVar(grid-gap, 30, 15, 1);
	}
	&__content-pic {
		@include singleVar($ml, 70, -70, 1);
		position: relative;
		@include singleVar(width, 245, 150, 1);
		@include singleVar(height, 545, 340, 1);
		&:after{
			@include singleVar(width, 105, 65, 1);
			@include singleVar(height, 105, 65, 1);
			content: '';
			border: 1px solid #d6d8dc;
			position: absolute;
			bottom: -8%;
			left: 50%;
			z-index: 2;
			background: rgba(255, 255, 255, 0.31);
			backdrop-filter: blur(4px);
			transform: translate(-50%) rotate(45deg) skew(20deg, 20deg);
		}
		&:before{
				@include singleVar(width, 65, 40, 1);
				@include singleVar(height, 65, 40, 1);
				content: '';
				border: 1px solid #d6d8dc;
				position: absolute;
				top: 50%;
				right: 0;
				z-index: 2;
				background: rgba(255, 255, 255, 0.31);
				backdrop-filter: blur(4px);
				transform: translate(50%, -50%) rotate(45deg) skew(20deg, 20deg);
			}
			.why__parallax-blur{
				top: 12%;
				height: 100%;
				width: 100%;
			}
	}
	&__content-link {
		padding: 9px 0;
		border: 1px solid #0C0B10;
		border-radius: 61.3171px;
	}
	@media(max-width: 767px){
		&__content{
		grid-template-columns: fit-content(150px, 245px) 1fr;
		grid-template-rows: repeat(3, 1fr) 50px;
		grid-template-areas:
		"text01 text01"
		"pic text02"
		"pic text03"
		"link link";
		}
		&__content-text01 {
		grid-column: 1/2;
		grid-area: text01;
		padding: 0 20px;
		align-self: center;
	}
	&__content-text02 {
		grid-row: 2/3;
		grid-area: text02;
	}
		&__content-text03 {
		grid-row: 3/4;
		grid-area: text03;
	}
		&__content-pic{
			grid-area: pic;
			grid-column: 1/2;
			grid-row: 2/5;
		}
		&__content-link{
			align-self: center;
			grid-column: 1/3;
			grid-row: 4/5;
			grid-area: link;
		}
	}
	@media(min-width: 390px) and (max-width: 767px){
		&__content{
			grid-template-areas:
		"text01 text01"
		"pic text02"
		"pic text03"
		"pic link";
		}
	}
	@media(min-width: 768px){
		&__parallax-pic{
			display: block;
		}
		&__parallax{
			height: 70%;
		}
		&__content-text01{
			grid-column: 1/2;
			grid-row: 1/3;
		}
		&__content-text02{
			width: 250px;
			grid-column: 2/3;
			grid-row: 1/3;
		}
		&__content-text03{
			grid-row: 4/6;
			grid-column: 2/4;
		}
		&__content-link {
			grid-column: 2/3;
			grid-row: 6/7;
			transition: transform 0.3s;
			&:hover{
			transform: scale(1.05);
		}
		&:active{
			transform: scale(1.0);
		}
		}
		&__content-pic{
			margin: 0 0 0 -50px;
			grid-column: 1/2;
			grid-row: 3/8;
		}
		&__content {
		margin: 0 auto 90px;
		grid-template-columns: auto auto auto;
		grid-template-rows: repeat(7, auto);
	}
		&__title-title{
			margin: 0 80px 0 0;
			text-align: left;
		}
		&__title-text {
			max-width: 255px;
		}
		&__title {
			padding: 0;
			width: 100%;
			max-width: 645px;
			margin: 0 auto;
			display: flex;
		}
	}
	@media(min-width: 1440px){
	&__parallax {
		background: url('../images/main-page/mountains.png') center/100% auto no-repeat;
		}
	}
}

.customise {
	background: url('../images/main-page/bg-customise02.png') center/ auto no-repeat;
	&__container {}
	&__title {
		text-align: center;
		max-width: 390px;
		margin: 0 auto 40px;
	}
	&__block {
		max-width: 540px;
		margin: 0 auto;
		@include singleVar($mb, 110, 50, 1);
	}
	&__item {
		margin: 0 0 65px;
		display: grid;
		grid-template: 1fr 1fr/ 1fr 2fr;
		grid-gap: 12px 10px;
	}
	&__item-romb {
		padding: 50px 0;
		background: url('../images/main-page/romb02.svg') center/ contain no-repeat;
		align-self: center;
		grid-row: 1/3;
		font-size: 73px;
line-height: 98.5%;
text-align: center;
color: #0C0B10;
	}
	&__item-title {
		align-self: end;
		grid-row: 1/2;
		font-size: 36px;
line-height: 98.5%;
color: #0C0B10;
	}
	&__item-text {
		grid-row: 2/3;
	}
	&__link {}
	&__link-link {
		margin: 0 0 5px;
		transition: transform 0.3s;
		&:hover{transform: scale(1.05);}
		&:active{transform: scale(1.0);}
	}
	&__link-text {
		text-align: center;
	}
	&__form {
		margin: 0 0 80px;
		position: relative;
		z-index: 1;
		&:before, &:after{
			content: '';
			position: absolute;
			top: -17px;
			width: 34%;
			height: 60px;
			z-index: -1;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;
		}
		&:before{
			border-radius: 10px 0 0 10px;
			left: 20px;
			border-left: 1px solid #ffffff;
		}
		&:after{
			border-radius:0 10px 10px 0;
			right: 20px;
			border-right: 1px solid #ffffff;
		}
	}
	&__form-blur{
		position: absolute;
		height: 100%;
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		top: 15px;
		z-index: -1;
		opacity: 0.78;
		filter: blur(33px);
	}
	&__form-wrapper{
		@include singleVar($pt, 90, 70, 1);
		@include singleVar($pr, 185, 16, 1);
		@include singleVar($pb, 130, 90, 1);
		@include singleVar($pl, 185, 16, 1);
		border-radius: 10px;
		background: url('../images/main-page/form-img.jpg') center/cover no-repeat;
		&:before{
			content: url('../images/main-page/crown-white.svg');
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -18px;
			width: 94%;
			height: 60px;
			z-index: -1;
			border: 1px solid #ffffff;
			border-radius: 10px;
			transform: translateX(-50%);
			left: 50%;
		}
	}
	&__form-title {
		text-align: center;
		margin: 0 0 10px;
		color: #ffffff;
	}
	&__form-text {
		max-width: 180px;
		margin: 0 auto 70px;
		text-align: center;
		font-family: 'Manrope';
		font-weight: 300;
		@include singleVar(font-size, 16, 18, 1);
		line-height: 179.8%;
		color: #FFFFFF;
	}
	&__form-form {}
	&__form-label {
		display: inline-block;
		width: 100%;
		margin: 0 0 10px;
		input{
			padding: 16px 15px;
			width: 100%;
			font-size: 18px;
			background: rgba(255, 255, 255, 0.14);
			border: 1px solid #FFFFFF;
			backdrop-filter: blur(10px);
			border-radius: 95px;
			&:focus{
				&::placeholder{opacity: 0;}
			}
			&::placeholder{
				font-family: 'Manrope';
				font-size: 16px;
				text-align: center;
				color: #0C0B10;
			}
		}
	}
	&__form-btn {
		transition: transform 0.3s;
		&:hover{transform: scale(1.05);}
		&:active{transform: scale(1.0);}
	}
	@media(min-width: 400px){
		&__form{
			&:before, &:after{
				width: 38%;
			}
		}
	}
	@media(min-width: 500px){
		&__form{
			&:before, &:after{
				width: 40%;
			}
		}
	}
	@media(min-width: 600px){
		&__form{
			&:before, &:after{
				width: 42%;
			}
		}
	}
	@media(min-width: 768px){
		&__form-wrapper{
			&:after{
				width: 96.5%;
			}
		}
		&__form-title{
			max-width: 500px;
			text-align: left;
		}
		&__form-text{
			text-align: left;
			max-width: unset;
		}
		&__form-form {
			display: flex;
			align-items: center;
		}
		&__form-label{
			margin: 0 -60px 0 0;
			display: inline-block;
			padding: 25px 0 15px;
			input{
				padding: 16px 30px;
				&::placeholder{text-align: left;}
			}
		}
		&__form{
			&:before, &:after{
				width: 44%;
			}
		}
		&__form-btn{
			max-width: 330px;
		}
	}
	@media(min-width: 1440px){
		background: url('../images/main-page/bg-customise02.png') center/100% auto no-repeat;
	}
}

.reviews {
	background: url('../images/main-page/bg-review.png') bottom 35% center/ auto no-repeat;
	&__container {
			@include singleVar($mb, 430, 230, 1);
	}
	&__title{
		@include singleVar($mb, 40, 15, 1);
	}
	&__slider {
		overflow: hidden;
		padding: 0 5px;
	}
	&__slider-container {
		max-width: 1140px;
		margin: 0 auto;
		position: relative;
	}
	&__slider-track {
		@include singleVar($ml, -45, -10, 1);
		@include singleVar($mr, -45, -10, 1);
		transition: transform 0.7s;
		display: flex;
	}
	&__slider-item {
		@include singleVar($pl, 45, 10, 1);
		@include singleVar($pr, 45, 10, 1);
		padding: 0 45px;
	}
	&__contact-container{
		padding: 10px;
	}
	&__contact {
		max-width: 920px;
		position: relative;
		margin: 0 auto;
		&:before{
			content: '';
			border-radius: 10px;
			border: 1px solid #FFFFFF;
			position: absolute;
			top: -8px;
			left: 50%;
			transform: translateX(-50%);
			width: 97%;
			height: 104%;
		}
		
	}
	&__contact-form {
		margin: 0 0 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgba(226, 211, 206, 0.2);
		border: 1px solid #FFFFFF;
		backdrop-filter: blur(4.5px);
		border-radius: 10px;
		padding: 75px 15px 105px;
	}
	&__contact-title {
		@include singleVar($mb, 30, 50, 1);
	}
	&__contact-input {
		margin: 0 0 15px;
		width: 100%;
		max-width: 350px;
		input{
			width: 100%;
			padding: 17px 30px;
			background: rgba(255, 255, 255, 0.14);
			border: 1px solid #FFFFFF;
			backdrop-filter: blur(10px);
			border-radius: 95px;
			color: #0C0B10;
			font-size: 18px;
			&:focus{
				&::placeholder{opacity: 0;}
			}
			&::placeholder{
				font-family: 'Manrope';
				font-size: 16px;
				line-height: 179.8%;
				text-align: center;
				color: #0C0B10;
			}
		}
	}
	&__contact-btn {
		width: 100%;
		max-width: 350px;
		button{
			transition: transform 0.3s;
			&:hover{transform: scale(1.05);
			&:active{transform: scale(1.0);}
			}
		}
	}
	@media(min-width: 1440px){
			background: url('../images/main-page/bg-review.png') bottom 35% center/ 100% auto no-repeat;
	}
}

.review {
	border-radius: 10px;
	border: 1px solid white;
	width: 610px;
	@include singleVar(width, 610, 320, 1);
	position: relative;
	&:before, &:after{
		content: '';
		width: 10px;
		height: 16px;
		border-top: 1px solid #ffffff;
		position: absolute;
		top: -2px;
		z-index: 1;
	}
	&:before{
		border-radius: 10px 0 0 0;
		border-left: 1px solid #ffffff;
		left: -1px;
	}
	&:after{
		border-radius: 0 10px 0 0;
		border-right: 1px solid #ffffff;
		right: -1px;
	}
	&__legend {
		margin: 0 auto;
		height: 3px;
		width: 200px;
	}
	&__wrapper {
		max-width: 635px;
		@include singleVar($ml, -10, 8, 1);
		@include singleVar($mr, -10, 8, 1);
		margin-bottom: 10px;
		border-radius: 10px;
		padding-top: 55px;
		@include singleVar($pl, 85, 20, 1);
		@include singleVar($pr, 65, 20, 1);
		@include singleVar($pb, 85, 55, 1);
		border: 1px solid white;
		background: rgba(226, 211, 206, 0.2);
		backdrop-filter: blur(10px);
	}
	&__wrapper-legend {
		margin: 0 auto;
		width: 140px;
		height: 25px;
		background: url('../images/main-page/crown-white.svg') center no-repeat;
	}
	&__wrapper-img {
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 15px 15px 20px rgba(139, 167, 178, 0.5);
		margin-left: auto;
		margin-right: auto;
		@include singleVar($mb, 57, 34, 1);
		img{
			object-fit: cover;
			width: 100%;
		}
	}
	&__wrapper-text {
		@include singleVar($mb, 90, 30, 1);
		overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 7;
-webkit-box-orient: vertical;

	}
	&__wrapper-wrapper {
		text-align: center;
	}
	&__wrapper-name, &__wrapper-place{
		font-family: 'Manrope';
		line-height: 94.5%;
		color: #1D1A1A;
	}
	&__wrapper-name {
		margin: 0 0 5px;
		font-weight: 500;
		@include singleVar(font-size, 20, 14, 1);
	}
	&__wrapper-place {
		@include singleVar(font-size, 16, 14, 1);
		font-weight: 300;
	}
	@media(min-width: 768px){
		&__wrapper-text{
			-webkit-line-clamp: 5;
		}
		&__wrapper-img{
			margin-left: 0;
		margin-right: 0;
		}
		&__wrapper-wrapper{
			text-align: left;
		}
	}
}
.main-form {
	position: absolute;
	bottom: 100.1%;
	left: 0;
	z-index: 4;
	width: 100%;
	&__container {
		text-align: center;
		padding: 0 0 50px;
	}
	&__btn {
		max-width: 330px;
		margin: 0 0 -35px;
		transition: transform 0.3s;
		&:hover{transform: scale(1.1);}
		&:active{transform: scale(1.0);}
	}
	&__form-wrapper{
		margin: -5px 0 0;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s;
		&.active{max-height: 500px;}
	}
	&__form {
		text-align: left;
		padding: 30px 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 18px 38px rgba(0, 0, 0, 0.11);
		border-radius: 10px;
	}
	&__label {
		display: flex;
		flex-direction: column;
		margin: 0 0 25px;
		padding: 0 0 0 15px;
		&:nth-child(1), &:nth-child(2){
			width: 100%;
		}
	}
	&__label-text {
		padding: 0 0 0 20px;
		font-family: 'Manrope';
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #79655E;
		margin: 0 0 5px;
		&_01{
			background: url('../images/main-page/icon_destination.svg') left/auto no-repeat;
		}
		&_02{
			background: url('../images/main-page/icon_travel.svg') left/auto no-repeat;
		}
		&_03{
			background: url('../images/main-page/icon_calendar.svg') left/auto no-repeat;
		}
		&_04{
			background: url('../images/main-page/icon_travellers.svg') left/auto no-repeat;
		}
	}
	&__label-input {
		margin: 0 0 0 20px;
		font-family: 'Manrope';
		font-weight: 500;
		font-size: 18px;
		line-height: 1.39;
		color: #0C0B10;
		&[type="date"]{width: 130px;}
		&[type="text"]{
			padding: 5px 2px;
			&:focus{
				&::placeholder{opacity: 0;}
			}
			&::placeholder{
				line-height: 1.39;
				font-weight: inherit;
				font-size: inherit;
				color: inherit;
			}
		}
	}
	&__label-select{
		margin: 0 0 0 20px;
		font-family: 'Manrope';
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		color: #0C0B10;
	}
	&__form-btn {
		width: 100%;
		font-size: 24px;
line-height: 26px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
background: #0C0B10;
border-radius: 121px;
padding: 21px 0;
transition: transform 0.3s;
&:hover{transform: scale(1.1);}
	&:active{transform: scale(1.0);}
span{
	padding: 0 0 0 30px;
	background: url('../images/main-page/icon_search.svg') left/auto no-repeat,;}
	}
	@media(min-width: 768px){
		&__form-btn{
			max-width: 130px;
		}
		&__label{
			margin: 0;
			&:nth-child(1), &:nth-child(2){
			width: unset;
		}
		}
	}
}


