@import '../styles/null.css';

.forms-hotel {
  position: relative;
  background-color: #E2D3CE;
  @media (max-width: 1439px){ 
    background-size: cover;
  }
  @media (min-width: 1439px){
    background-size: cover;
  }
  &-clouds{
    position: absolute;
    width: 100%;
    height: 475px;
    top:0;
    background-color: #E2D3CE;
    background-image: url('/images/forms-hotel/bg_top_clouds.png'), url('/images/forms-hotel/bg_top_inner.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
    @media (min-width: 1280px) {
      background-size: cover;
    }
    @media (min-width: 2370px) {
      background-size: cover;
      height: 40%;
    }
  }
}

.container {
  width: 1111px;
  margin: 0 auto;
  @media (max-width:1125px ){
    width: auto;
  }
};

// nav
.forms-nav-container {
  position: relative;
  width: 1400px;
  height: 71px;
  margin: 0 auto 15px;
  padding-top: 24px;
}
.forms-nav-wrapper {
  width: 1348px;
  height: 63.56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1439px){
    justify-content: space-around;
  }

}
.forms-nav-logo {
  padding-left: 30px;
  // border: 1px solid rgb(17, 219, 27);
}
.forms-nav-links {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  @media (max-width: 1439px){
    color: yellow;
  }
}
.forms-nav-list {
  display: flex;
  align-items: center;
}
.forms-nav-link{
  &:hover{
    color:yellow;
  }
}
.forms-nav-link:not(:last-child) {
  margin-right: 40px;
}
.forms-nav-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 100%;
  // border: 1px solid rgb(8, 230, 204);
  padding-right: 22px;
  & .forms-svg {
    position: absolute;
  }
  & .forms-svg-top {
    position: absolute;
    top: 7%;
  }
  & .forms-svg-bottom {
    position: absolute;
    bottom: 7%;
  }
  & .forms-nav-button-cta {
    position: absolute;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    &:hover{
      color:yellow;
    }
  }
}

// title
.forms__main-title{
  margin: 0 auto;
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 50px;
  margin-top: 113px;
  @media (min-width: 1031px) and (max-width: 1279px) {
    font-size: 55px;
    margin-top: 100px;
  }
  @media (max-width:1030px ){
  font-size: 48px;
  margin-bottom: 30px;
  }
  @media (max-width:650px ){
    font-size: 2em;
    }
}

// hero
.forms {
  display: flex;
  justify-content: center;
  background-color: transparent;
  gap: 30px;
		// .forms__left

		&__left {
      width: 540px;
      display: flex;
      flex-direction: column;
      position: relative;
      @media (max-width:1125px ){
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
      }
		}

    // .forms__image-wrapper
    &__left__image-wrapper{
      margin-bottom: 32px;
      @media (max-width:1125px ){
        display: flex;
        margin: 0px auto 20px auto;
      }
      @media (max-width:550px ){
        display: flex;
        margin: 0px auto 20px auto;
      }
    }

		// .forms__image

		&__left__image {
      border-radius: 10px;
      @media (max-width:1125px ){
        margin: 0px auto 20px auto;
      }
		}

		// .forms__title

		&__left__title {
      font-family: 'Forum';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      color: #0C0B10;
      margin-bottom: 32px;
      @media (max-width:1279px){
        font-size: 32px;
        margin-bottom: 25px;
      }
      @media (max-width:1125px ){
        font-size: 28px;
        margin: 0 auto 0 auto;
        width: 80%;
      }
      @media (max-width:1030px ){
        width: 70%;
        text-align: center;
        }
		}

		// .forms__description

		&__left__description {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 179.8%;
      color: #000000;
      margin-bottom: 118px;
      @media (max-width:1125px ){
        margin: 0 auto 0 auto;
        font-size: 16px;  
        padding: 20px;
        margin-bottom: 50px;
        width: 80%;
      }
      @media (max-width:1125px ){
        margin: 0 auto 0 auto;
        font-size: 16px;  
        padding: 20px;
        margin-bottom: 50px;
        width: 80%;
      }
      @media (max-width:650px ){
        font-size: 0.9em;
      }
		}

    // .forms__left__benefits-wrapper
    &__left__benefits-wrapper {
      position: absolute;
      bottom: 6%;

      @media (max-width:1125px ){
        position: relative;
        margin: 0 auto;
        padding: 0 20px;
      }
      @media (max-width:550px ){
        position: relative;
        margin: 0 auto;
      }
    }


		// .forms__benefits

		&__left__benefits {
      position: relative;
      &-title{
        @media (max-width:800px ){
          font-size: 0.9rem;
          padding-right: 5px;
          width: 60%;
        }
      }
      &-svg1{
        background-image: url('/images/forms-hotel/forms__left-benefits/svg1.svg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &-svg2{
        background-image: url('/images/forms-hotel/forms__left-benefits/svg2.svg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &-svg3{
        background-image: url('/images/forms-hotel/forms__left-benefits/svg3.svg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @media (max-width:1125px ){
          width: 67px;
        }
      }
      &-svg4{
        background-image: url('/images/forms-hotel/forms__left-benefits/svg4.svg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &-svg5{
        background-image: url('/images/forms-hotel/forms__left-benefits/svg5.svg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &-svg6{
        background-image: url('/images/forms-hotel/forms__left-benefits/svg6.svg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      @media (max-width:1125px ){
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 50% 50%;
        padding: 0 20px;
        row-gap: 20px;
      }
      @media (max-width:1030px ){
        grid-template-columns: 350px 350px;

      }
      @media (max-width:850px ){
        grid-template-columns: 50% 50%;

      }
		}

		// .forms__benefits-item

		&__left__benefits-item {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 80px;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 41px;
      @media (max-width:1125px ){
        line-height: 1;
      }
      @media (max-width:800px ){
        font-size: 0.9rem;
        gap: 10px;
        justify-content: space-evenly;
      }

		}



		// .forms__right

		&__right {
      background-color: #fff;
      width: 540px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;

      @media (max-width:1125px ){
        position: relative;
        margin: 0 auto;
        padding: 0 20px;
      }


      // label[data-adult=""]
      // label[data-kid=""]


          &__label{
            position: relative;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 179.8%;
            color: #79655E;
            padding-left: 29px;
            &[data-location=''] {
              &::before{
              content: url('/images/forms-hotel/rhombus.svg');
              position: absolute;
              top: 44px;
              left: 28px;
              pointer-events: none;
            }
            }
            &[data-guests=''] {
              &::before{
              content: url('/images/forms-hotel/adult.svg');
              position: absolute;
              top: 42px;
              left: 28px;
              pointer-events: none;
            }
            &::after{
              content: url('/images/forms-hotel/kid.svg');
              position: absolute;
              top: 44px;
              left: 258px;
              pointer-events: none;
            }
            }
            &[data-dates=''] {
              &::before{
              content: '-';
              position: absolute;
              top: 44px;
              left: 218px;
              pointer-events: none;
              color: #79655E;
            }
            }
          }
          // .forms__right__item-short-numbers
          .flex-direction-row{
            flex-direction: row;
            justify-content: space-between;
          }


          //  .forms__container
          &__container{
            width: 445px;
            margin: 0 auto;
            // outline: 1px solid black;
          }

          // .forms__right__item-long
          &__item-long{
            display: flex;
            flex-direction: column;
            // outline: 1px solid black;
            margin-bottom: 13px;
            &:first-child{
              padding-top: 41px;
            }
            &:last-child{
            margin-bottom: 0px;
            }
          }

          // .forms__right__item-short
          &__item-short{
            display: flex;
            flex-direction: column;
            // outline: 1px solid black;
            margin-bottom: 13px;

          }

          // .forms__right__item-short-wrapper
          &__item-short-wrapper{
            display: flex;
            justify-content: space-between;
            // outline: 1px solid black;
          }


            // .forms__right-request-wrapper
        
            &-request-wrapper {
              position: relative;
              width: 444px;
              height: 98.70px;
              display: flex;
              justify-content: center;
              align-items: center;
              // border: 1px solid red;
              z-index: 1;
              p {
                padding-top: 10px;
              }
            }
            // svg
            &-svg-border {
              position: absolute;
              top:12px;
              z-index: 0;
            };
            &-svg-top {
              position: absolute;
              top:-5px;
              z-index: 0;
            };
            &-svg-bottom {
              position: absolute;
              bottom: 4px;
              z-index: 0;
            };
            .forms__right-or{
              padding-top: 10px;
              text-align: center;
            }
            // .forms-request-wrapper-btn
        
            &-request-wrapper-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              width:100%;
              height: 55px;
              background: #0C0B10;
              border-radius: 74px;
              transition: all 0.3s  ease;
              z-index: 1;
              & > button {
                width: 100%;
                height: 100%;
                font-family: 'Forum';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FFFFFF;
              }
              &:hover{
                transition: background 0.3 ease;
                background: lighten($color: #0C0B10, $amount: 20);
              }
              &:active{
                background: lighten($color: #0C0B10, $amount: 30);
              }
            }
        
            // .forms-cta-wrapper
        
            &-cta-wrapper {
              display: flex;
              justify-content: space-around;
              align-items: center;
              width: 445px;
              padding-top: 12px;
              padding-bottom: 16px;
              margin-bottom: 27px;
              // border: 1px solid red;
            }
        
            // .forms-cta
        
            &-cta {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #0C0B10;
              border: 0.624428px solid #0C0B10;
              border-radius: 61.3171px;
              width: 217px;
              height: 55px;
              text-transform: uppercase;
              transition: all 0.3s  ease;

              &:hover{
                background-color: #39354c;
                color: white;
              }
              &:active{
                background-color: #50496b;
                color: white;
              }
            }
        


		}
    .forms-long{
      border: 1.60979px solid #E2D3CE;
      border-radius: 74px;
      height: 55px;
      padding-left: 51px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 51px;
      & > option{
        color: inherit;
      }
    }
    .forms-short{
      display: flex;
      flex-direction: row-reverse;
      border: 1.60979px solid #E2D3CE;
      border-radius: 74px;
      height: 55px;
      width: 210px;
      padding-left: 51px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 21px;
    }
    .forms__special-requests{
      border: 1.60979px solid #E2D3CE;
      border-radius: 20px;
      resize: none;
      padding-left: 51px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 51px;
      @media (max-width:650px ){
        height: 8rem;
      }
    }
    
    .width210px{
      width: 210px;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      /* Ваши стили для небольших десктопных экранов */
    & {
      gap:20px;
    }
    }
    @media (max-width:1125px ){
      flex-direction: column;
    }
  
    /* --------------------------------------------------------- Adaptive styles start --------------------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1279px) {
  /* Ваши стили для небольших десктопных экранов */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Ваши стили для планшетов */

}
@media (min-width: 480px) and (max-width: 767px) {
  /* Ваши стили для средних устройств */
}
@media (max-width: 479px) {
  /* Ваши стили для очень маленьких устройств */
}
    
}

