.container {
  /* padding:0 20px; */
  max-width: 1111px;
  margin: 0 auto;
}
.form {
  display: flex;
  gap: 30px;
}
.form-car {
  position: relative;
  background-color: #e2d3ce;
}
.bg__top__inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  background: #e5e5e5;
  background-image: url(../images/Alex-form-car/main-img.png);
  background-size: cover;
  background-position: center;
}

.form__left {
  width: 540px;
}
.title {
  font-family: "Forum";
  font-weight: 400;
  font-size: 60px;
  line-height: 44px;
  text-align: center;
  color: #0c0b10;
  margin-bottom: 40px;
}
.paragraph {
  margin-bottom: 50px;
}
.paragraph h3 {
  font-family: "Forum";
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #0c0b10;
  margin-top: 32px;
}
.paragraph p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: #000000;
}
.paragraph p:not(:first-child) {
  margin-top: 30px;
}

.deals__item {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.deals__item:last-child {
  margin-bottom: 0;
}
.deals__item svg {
  margin-right: 38px;
}

.form__right {
  width: 540px;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
}
.form-location {
  margin-left: 21px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: #79655e;
}
.form__accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.60979px solid #e2d3ce;
  border-radius: 74px;
  height: 55px;
  padding: 0 21px 0 29px;
  width: 210px;
}
.form-heading {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: #79655e;
}
.form__accordion-icon {
  display: flex;
}
.form__accordion-title span {
  width: 10px;
  height: 10px;
  border: 1px solid #79655e;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
}
.form__accordion-icon svg {
  margin-right: 13px;
}
.form__accordion {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.dates-form {
  margin-top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.dates-form p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: #79655e;
}
.form__model-accordion .form__accordion-title {
  width: 445px;
}
.Pick-up__box1 {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.Pick-up__box2 {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.form__model {
  margin: 0 auto;
  width: 445px;
  margin-top: 14px;
}
.form-heading {
  margin-left: 21px;
  margin-bottom: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: #79655e;
}
.form__number {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 15px;
}
.outer-container {
  display: flex;
  border: 1.60979px solid #e2d3ce;
  border-radius: 74px;
  width: 210px;
  height: 55px;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 74px;
  height: 55px;
  background: #e2d3ce;
  width: 50%;
  transition: transform 0.3s;
}
.inner {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  border-radius: 74px;
  height: 55px;
  transition: transform 0.3s;
  width: 50%;
}
.Pick-up__box1 {
  margin-top: 15px;
}
.Pick-up__box2 {
  margin-top: 15px;
}
.Pick-up__box1 .form__accordion-title {
  width: 286px;
}
.Pick-up__box2 .form__accordion-title {
  width: 286px;
}

.pick__up-time .form__accordion-title {
  width: 141px;
}
.inner-container .inner__text-1 {
  color: #79655e;
}

.inner-container .inner__text-1.active {
  color: #000000;
}
.inner .inner__text-2 {
  color: #79655e;
}
.inner .inner__text-2.active {
  color: #000000;
}
.label {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: #79655e;
}
.input {
  border: 1.60979px solid #e2d3ce;
  border-radius: 74px;
  display: flex;
  width: 445px;
  height: 55px;
  padding: 20px;
}
.input__container {
  margin: 15px auto;
  width: 445px;
}
.textarea__box {
  width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
label {
  margin-left: 21px;
}
.textarea {
  border: 1.60979px solid #e2d3ce;
  border-radius: 20px;
  width: 445px;
}
.rectangle {
  background-image: url(../images/Alex-form-car/rectangle-desctop.png);
  width: 445px;
  margin: 30px auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Forum";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.form__btn p {
  font-family: "Forum";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0c0b10;
  margin-bottom: 22px;
}
.form__btn {
  display: flex;
  flex-direction: column;
}
.form__btn button {
  font-family: "Forum";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0c0b10;
  border: 1px solid #0c0b10;
  border-radius: 62px;
  width: 217px;
  height: 55px;
  cursor: pointer;
}
.button__box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 51px;
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 960px;
    padding: 0 20px;
  }
  .form__left,
  .form__right {
    width: 100%;
  }
  .form__accordion-title {
    width: 180px;
  }
  .form {
    flex-direction: column;
    gap: 20px;
  }
  .bg__top__inner {
    height: 475px;
    background-image: url("../images/Alex-form-car/bg_top_tablet.png");
  }
  .title {
    font-size: 70px;
  }
  .form__left {
    width: 708px;
    margin: 0 auto;
    padding: 10px;
  }
  .paragraph h3 {
    font-size: 30px;
  }
  .paragraph p {
    font-size: 25px;
  }
  .car {
    display: flex;
    justify-content: center;
  }
  .deals__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .deals__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .deals__item p {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    width: 155px;
  }
  .form__right {
    width: 708px;
    margin: 0 auto;
    padding: 10px;
  }
  .form__accordion-title {
    width: 300px;
  }
  .form__model .form__accordion-title {
    width: 625px;
  }
  .form__model {
    width: unset;
  }
  .form__model .form__model-accordion {
    display: flex;
    justify-content: center;
  }
  .Pick-up__box1 .form__accordion-title {
    width: 400px;
  }
  .pick__up-time .form__accordion-title {
    width: 200px;
  }
  .Pick-up__box2 .form__accordion-title {
    width: 400px;
  }
  .pick__up-time .form__accordion-title {
    width: 200px;
  }

  .outer-container {
    width: 300px;
  }
  .input {
    width: 625px;
  }
  .input__container {
    width: 625px;
  }
  .textarea__box {
    width: 625px;
  }
  .textarea {
    width: 625px;
  }
  .rectangle {
    width: 625px;
    margin: 30px auto;
    font-size: 32px;
    background-image: url(../images/Alex-form-car/rectangle-tablet.png);
  }
  .form__btn p {
    font-size: 25px;
  }
  .form__btn .button {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 375px;
    max-width: 100%;
    padding: 0 10px;
  }
  .bg__top__inner {
    height: 304px;
    background-image: url("../images/Alex-form-car/bg_top_mobile.png");
  }
  .deals__list {
    width: 345px;
  }
  .paragraph h3 {
    font-size: 30px;
  }
  title {
    font-size: 70px;
  }

  .title {
    font-size: 40px;
  }
  .paragraph h3 {
    font-size: 30px;
    line-height: 32px;
    width: 344px;
    height: 120px;
  }
  .paragraph p {
    width: 344px;
    font-size: 16px;
    line-height: 24px;
  }
  .car {
    display: block;
  }
  .form__right {
    width: 345px;
  }
  .form__left {
    width: 345px;
  }
  .form__accordion {
    display: block;
  }
  .dates-form {
    display: block;
  }
  .Pick-up__box1 {
    display: block;
  }
  .Pick-up__box2 {
    display: block;
  }
  .form__number {
    display: block;
  }
  .button__box {
    display: block;
  }
  .form__model .form__accordion-title {
    width: 300px;
  }
  .Pick-up__box1 .form__accordion-title {
    width: 300px;
  }
  .Pick-up__box2 .form__accordion-title {
    width: 300px;
  }
  .input__container {
    width: 300px;
  }
  .input {
    width: 300px;
  }
  .textarea__box {
    width: 300px;
  }
  .textarea {
    width: 300px;
  }
  .rectangle {
    font-size: 24px;
    line-height: 26px;

    width: 300px;
    height: 100px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(../images/Alex-form-car/rectangle.png);
  }
  .button {
    margin-bottom: 15px;
  }
}
