

html {
    font-size: 10px;   
}

body {
    background-image: url('../images/contact/background-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E2D3CE;
}

.section-main {
    background-image: url('../images/contact/clouds.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 170px;
}

.container-contact {
    max-width: 1110px;
    margin: 0 auto;
    overflow: hidden;
}

.section-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
    margin-bottom: 31px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.block {
    max-width: 539px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(65px);
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.phone-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 48px 117px 54px;
}

.address-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 26px 109px 53px;
}

.block__title {
    font-family: 'Forum';
    font-size: 1.6rem;
    margin-bottom: 6px;
}

.phone-number {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 40px;
    text-align: center;
    color: #0C0B10;
    margin-bottom: 15px;
}

.block-subtitle {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0C0B10;
    margin-bottom: 16px;
}

.block-btn {
    background: #0C0B10;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 74px;
    padding: 15px 59px;
    transition: all .3s ease;
}

.block-btn:hover {
    background: #ffffff;
    color: #000000;
}

.block-address {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 44px;
    text-align: center;
    color: #0C0B10;
    margin-bottom: 20px;
}

.email {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 179.8%;
    text-align: center;
    color: #000000;
    margin-bottom: 7px;
}

.email-address-block {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 101.2%;
    text-align: center;
    color: #000000;
    transition: all .3s ease;
}

.email-address-block:hover {
    color: #474747;
}

.map {
    position: relative;
    width: 100%;
    height: 621px;
    z-index: 1;
    overflow: hidden;
}

.map::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/contact/border.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.map-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 39px;
}

.icon-location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 1200px) {
    .section-main {
        background-image: none;
    }

    .container-contact {
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .phone-block {
        padding: 48px 82px 54px;
        margin-bottom: 50px;
    }

    .address-block {
        padding: 48px 82px 54px;
    }
}

@media(max-width: 550px) {
    .section-main {
        margin-bottom: 108px;
    }
    
    .section-title {
        font-size: 3.5rem;
        line-height: 38px;
    }

    .block {
        max-width: 350px;
        padding: 48px 34px 54px;
    }

    .phone-number {
        font-size: 3rem;
    }

    .block-btn {
        font-size: 2rem;
        padding: 15px 39px;
    }

    .block-address {
        font-size: 3rem;
    }
}

@media(max-width: 374px) {
    .section-title {
        font-size: 3rem;
    }

    .block {
        max-width: 250px;
    }

    .block-btn {
        font-size: 1.5rem;
        padding: 8px 32px;
    }

    .phone-number {
        font-size: 2.4rem;
    }

    .block-address {
        font-size: 2rem;
        line-height: 35px;
    }

    .email-address-block {
        font-size: 2rem;
    }
}