@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap";
* {
  border: none;
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
}

nav, section, footer, header, aside, main, details, hgroup, figure, figcaption, article {
  display: block;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #0000;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

:focus, :active {
  outline: none;
}

a, a:visited, a:hover, a:link {
  text-decoration: none;
}

a {
  color: inherit;
  background-color: #0000;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border-style: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

[hidden] {
  display: none;
}

body {
  flex-direction: column;
  display: flex;
}

main {
  flex-grow: 1;
}

.forms-hotel {
  color: #000;
  background-color: #e2d3ce;
  background-image: url("bg_top_inner.71c9d8e9.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (width <= 1439px) {
  .forms-hotel {
    background-size: cover;
  }
}

@media (width >= 1439px) {
  .forms-hotel {
    background-size: cover;
  }
}

.container {
  width: 1111px;
  margin: 0 auto;
}

.forms-nav-container {
  width: 1400px;
  height: 71px;
  margin: 0 auto 15px;
  padding-top: 24px;
  position: relative;
}

.forms-nav-wrapper {
  width: 1348px;
  height: 63.56px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

@media (width <= 1439px) {
  .forms-nav-wrapper {
    justify-content: space-around;
  }
}

.forms-nav-logo {
  padding-left: 30px;
}

.forms-nav-links {
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #000;
  font-family: Forum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media (width <= 1439px) {
  .forms-nav-links {
    color: #ff0;
  }
}

.forms-nav-list {
  align-items: center;
  display: flex;
}

.forms-nav-link:hover {
  color: #ff0;
}

.forms-nav-link:not(:last-child) {
  margin-right: 40px;
}

.forms-nav-button {
  width: 156px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 22px;
  display: flex;
  position: relative;
}

.forms-nav-button .forms-svg {
  position: absolute;
}

.forms-nav-button .forms-svg-top {
  position: absolute;
  top: 7%;
}

.forms-nav-button .forms-svg-bottom {
  position: absolute;
  bottom: 7%;
}

.forms-nav-button .forms-nav-button-cta {
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #000;
  font-family: Forum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
}

.forms-nav-button .forms-nav-button-cta:hover {
  color: #ff0;
}

.forms__main-title {
  text-transform: capitalize;
  margin: 0 auto 50px;
  font-family: Forum;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
}

.forms {
  background-color: #0000;
  justify-content: center;
  gap: 30px;
  display: flex;
}

.forms__left {
  width: 540px;
  flex-direction: column;
  display: flex;
}

.forms__left__image-wrapper {
  margin-bottom: 32px;
}

.forms__left__image {
  border-radius: 10px;
}

.forms__left__title {
  color: #0c0b10;
  margin-bottom: 32px;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.forms__left__description {
  color: #000;
  margin-bottom: 118px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 179.8%;
}

.forms__left__benefits {
  position: relative;
}

.forms__left__benefits-item {
  color: #000;
  gap: 41px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  display: flex;
}

.forms__left__benefits-item svg {
  border-right: 1px solid red;
}

.forms__left__benefits-item:last-child {
  gap: 43px;
  position: absolute;
  left: -15px;
}

.forms__right {
  width: 540px;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
}

.forms__right__label {
  color: #79655e;
  padding-left: 29px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 179.8%;
}

.forms__right .flex-direction-row {
  flex-direction: row;
  justify-content: space-between;
}

.forms__right__container {
  width: 445px;
  margin: 0 auto;
}

.forms__right__item-long {
  flex-direction: column;
  margin-bottom: 13px;
  display: flex;
}

.forms__right__item-long:first-child {
  padding-top: 41px;
}

.forms__right__item-long:last-child {
  margin-bottom: 0;
}

.forms__right__item-short {
  flex-direction: column;
  margin-bottom: 13px;
  display: flex;
}

.forms__right__item-short-wrapper {
  justify-content: space-between;
  display: flex;
}

.forms .forms-long {
  height: 55px;
  border: 1.60979px solid #e2d3ce;
  border-radius: 74px;
  padding: 15px 21px 15px 51px;
}

.forms .forms-long > option {
  color: inherit;
}

.forms .forms-short {
  height: 55px;
  width: 210px;
  border: 1.60979px solid #e2d3ce;
  border-radius: 74px;
  padding: 15px 21px 15px 51px;
}

.forms .forms__special-requests {
  resize: none;
  border: 1.60979px solid #e2d3ce;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 51px;
}

.forms .width210px {
  width: 210px;
}

/*# sourceMappingURL=forms-hotel.b1276d39.css.map */
