.header,
.footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 150px;
}
/* --------------------------------------------------------- main__logo styles start --------------------------------------------------------- */
.main__logo {
    z-index: 104;
}
.main__logo-link {
    cursor: pointer;
}
.main__logo-img {
    width: 121px;
    height: 64px;
    z-index: 104;
}
.main__logo-footer {
    width: 215px;
    height: 112px;
}
/* --------------------------------------------------------- main__logo styles end --------------------------------------------------------- */

/* --------------------------------------------------------- header styles start --------------------------------------------------------- */
.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 44px;
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    max-width: 1440px;
    width: 100%;
    z-index: 100;
}
.nav._scroll {
    background-color: #e5d5d0;
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav__item {
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.nav__item._active::before {
    content: '';
    width: 120%;
    height: 42px;
    border: 1px solid #474747;
    border-radius: 61px;
    background-color: #4747471f;
    position: absolute;
    top: -13px;
    left: -10%;
}
.nav__item:hover {
    color: #474747;
}
.nav__burger {
    display: none;
    margin: 0 0 0 70px;
    padding: 0 30px;
    width: 60px;
    height: 60px;
    z-index: 104;
    position: relative;
    cursor: pointer;
}
.nav__burger-btn {
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.nav__burger-btn::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    border: 1px solid #ffffff;
    position: absolute;
    top: -11px;
    right: -1px;
    transition: all 0.3s ease;
}
.nav__burger-btn::after {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: -11px;
    left: -1px;
    transition: all 0.3s ease;
}
.nav__burger._active > .nav__burger-btn::before,
.nav__burger._active > .nav__burger-btn::after {
    width: 35px;
}
/* --------------------------------------------------------- header styles end --------------------------------------------------------- */

/* --------------------------------------------------------- nav__menu styles start --------------------------------------------------------- */
.nav__list._active {
    left: 50%;
}
.nav__list._active::before {
    content: "";
    position: absolute;
    top: 93px;
    left: -19%;
    width: 207px;
    height: 163px;
    border: 1px solid #fff;
    border-image: linear-gradient(#ffffff, #ffffff48) 70;
    transform: rotate(63deg) skew(38deg) translateX(-11%);
}
.nav__item {
    z-index: 102;
}
/* --------------------------------------------------------- nav__menu styles end --------------------------------------------------------- */

/* --------------------------------------------------------- call__btn styles start --------------------------------------------------------- */
.call__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 42px;
    position: relative;
    cursor: pointer;
}
.call__btn::before {
    width: 65px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 61px;
    border-bottom-left-radius: 61px;
    content: "";
}
.call__btn::after {
    width: 65px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 61px;
    border-bottom-right-radius: 61px;
    content: "";
}
.call__btn-top,
.call__btn-bottom {
    position: absolute;
    fill: #fff;
}
.call__btn-top {
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
}
.call__btn-bottom {
    bottom: -7px;
    left: 43%;
    transform: rotate(180deg);
}
.call__btn-md {
    border: 1px solid #ffffff;
    border-radius: 61px;
    transition: all 0.3s ease-in;
    display: none;
    z-index: 104;
}
.call__btn-md:hover {
    border: 1px solid #474747;
}
.call__btn-md::before,
.call__btn-md::after {
    display: none;
}

.call__btn:hover {
    color: #474747;
    transition: all 0.3s ease-in;
}
.call__btn:hover::before {
    border-top: 1px solid #474747;
    border-left: 1px solid #474747;
    border-bottom: 1px solid #474747;
}
.call__btn:hover::after {
    border-top: 1px solid #474747;
    border-right: 1px solid #474747;
    border-bottom: 1px solid #474747;
}
.call__btn:hover .call__btn-top,
.call__btn:hover .call__btn-bottom {
    fill: #474747;
}
/* --------------------------------------------------------- call__btn styles end --------------------------------------------------------- */

/* --------------------------------------------------------- Footer styles start --------------------------------------------------------- */
.footer {
    height: 555px;
    background-image: url(../images/header-footer/sky-footer.webp);
    background-color: #e5d5d0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.footer__wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 34px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #0c0b10;
}
.footer__middle {
    width: 100%;
    margin: 88px 0 0 0;
    display: flex;
    justify-content: space-evenly;
}
.footer__middle-list {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;
}
.footer__middle-first {
    justify-content: flex-end;
}
.footer__middle-item {
    transition: all 0.3s ease;
}
.footer__middle-item:hover {
    color: #474747;
}
.footer__bottom {
    width: 100%;
    margin: 125px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.footer__rights {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}
/* --------------------------------------------------------- Footer styles end --------------------------------------------------------- */

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;
}
.modal._active {
    z-index: 110;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal__menu {
    max-width: 920px;
    max-height: 525px;
    width: 95%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(226, 211, 206, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all .5s ease;
}
.modal__menu._active {
    top: 50%;
}
.modal__frame {
    content: "";
    max-width: 885px;
    max-height: 540px;
    width: 90%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}
.modal__frame._active {
    top: 50%;
}
.modal__close {
    width: 50px;
    height: 50px;
    position: relative;
    align-self: end;
    cursor: pointer;
}
.modal__close::before,
.modal__close::after {
    display: block;
    content: '';
    width: 80%;
    border: 1px solid #000000;
    position: absolute;
    top: 50%;
    left: 0;
}
.modal__close::after {
    transform: rotate(45deg);
}
.modal__close::before {
    transform: rotate(-45deg);
}
.modal__title {
    margin: 26px 0 0 0;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
}
.modal__form {
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
    padding: 0 5px;
    position: relative;
}
.modal__text,
.modal__tel {
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 95px;
    padding: 13px 20px;
    text-align: center;
    color: #0C0B10;
    width: 100%;
}
.modal__tel {
    margin: 14px 0 0 0;
}
.modal__btn {
    margin: 53px 0 0 0;
    background: #0C0B10;
    border-radius: 74px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.modal__form::after {
    content: '';
    display: block;
    max-height: 61px;
    width: 88%;
    height: 100%;
    border: 1px solid #0C0B10;
    border-radius: 98.1972px;
    position: absolute;
    bottom: 0;
}


/* --------------------------------------------------------- Adaptive styles start --------------------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1279px) {
    /* Ваши стили для небольших десктопных экранов */
    .nav {
        padding: 24px;
    }
    .main__logo-img {
        width: 110px;
        height: 56px;
    }
    .nav__list {
        gap: 28px;
    }
    .call__btn {
        width: 130px;
    }
    .call__btn::before,
    .call__btn::after {
        width: 50px;
    }
    .footer__wrapper {
        padding: 34px 45px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Ваши стили для планшетов */
    .nav {
        padding: 20px;
    }
    .nav__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #e5d5d0;
        z-index: 99;
        transition: all 0.3s ease;
        overflow: auto;
    }
    .nav__menu::before {
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 76px;
        background-color: #e5d5d0;
        z-index: 102;
        transition: all 0.3s ease;
    }
    .nav__menu._active::before {
        left: 0;
    }
    .nav__menu._active {
        left: 0;
    }
    .nav__list {
        position: absolute;
        top: 140px;
        left: -100%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        z-index: 101;
        transition: all 0.3s ease;
    }
    .main__logo-img {
        width: 100px;
        height: 50px;
    }
    .call__btn {
        width: 130px;
        height: 40px;
        display: none;
    }
    .call__btn-md {
        display: flex;
    }
    .nav__burger {
        display: flex;
    }
    .footer__wrapper {
        padding: 34px 25px;
    }
    .main__logo-footer {
        width: 165px;
        height: 88px;
    }
    .footer__middle {
        flex-direction: column;
        align-items: center;
        margin: 45px 0 0 0;
    }
    .call__btn-footer {
        order: 1;
        display: flex;
        width: 156px;
        height: 40px;
    }
    .footer__middle-list {
        width: 100%;
        gap: 40px;
    }
    .footer__middle-first {
        order: 2;
        margin: 54px 0 0 0;
        justify-content: center;
    }
    .footer__middle-second {
        order: 3;
        margin: 40px 0 0 0;
        justify-content: center;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    /* Ваши стили для средних устройств */
    .nav {
        padding: 20px;
    }
    .nav__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #e5d5d0;
        z-index: 99;
        transition: all 0.3s ease;
        overflow: auto;
    }
    .nav__menu::before {
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 76px;
        background-color: #e5d5d0;
        z-index: 102;
        transition: all 0.3s ease;
    }
    .nav__menu._active::before {
        left: 0;
    }
    .nav__menu._active {
        left: 0;
    }
    .nav__list {
        position: absolute;
        top: 140px;
        left: -100%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        z-index: 101;
        transition: all 0.3s ease;
    }
    .main__logo-img {
        width: 83px;
        height: 43px;
    }
    .call__btn {
        width: 100px;
        height: 36px;
        display: none;
    }
    .call__btn-md {
        display: flex;
    }
    .nav__burger {
        display: flex;
        margin: 0 0 0 40px;
    }
    .footer__wrapper {
        padding: 44px 25px;
    }
    .main__logo-footer {
        width: 138px;
        height: 73px;
    }
    .footer__middle {
        flex-direction: column;
        align-items: center;
        margin: 45px 0 0 0;
    }
    .call__btn-footer {
        order: 1;
        display: flex;
        width: 156px;
        height: 40px;
    }
    .footer__middle-list {
        width: 100%;
        gap: 40px;
    }
    .footer__middle-first {
        order: 2;
        margin: 54px 0 0 0;
        justify-content: center;
    }
    .footer__middle-second {
        order: 3;
        margin: 40px 0 0 0;
        justify-content: center;
    }
    .footer__bottom {
        margin: 75px 0 0 0;
        flex-direction: column;
        align-items: center;
    }
    .footer__rights {
        margin: 6px 0 0 0;
    }
}
@media (max-width: 479px) {
    /* Ваши стили для очень маленьких устройств */
    .nav {
        padding: 14px;
    }
    .nav__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #e5d5d0;
        z-index: 99;
        transition: all 0.3s ease;
        overflow: auto;
    }
    .nav__menu::before {
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 76px;
        background-color: #e5d5d0;
        z-index: 102;
        transition: all 0.3s ease;
    }
    .nav__menu._active::before {
        left: 0;
    }
    .nav__menu._active {
        left: 0;
    }
    .nav__list {
        position: absolute;
        top: 140px;
        left: -100%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        z-index: 101;
        transition: all 0.3s ease;
    }
    .main__logo-img {
        width: 75px;
        height: 39px;
    }
    .call__btn {
        width: 88px;
        height: 36px;
        display: none;
    }
    .call__btn-md {
        display: flex;
    }
    .nav__burger {
        display: flex;
        margin: 0 0 0 28px;
    }
    .footer__wrapper {
        padding: 34px 25px;
    }
    .main__logo-footer {
        width: 108px;
        height: 57px;
    }
    .footer__middle {
        flex-direction: column;
        align-items: center;
        margin: 45px 0 0 0;
    }
    .call__btn-footer {
        order: 1;
        display: flex;
        width: 156px;
        height: 40px;
    }
    .footer__middle-list {
        width: 100%;
        gap: 40px;
    }
    .footer__middle-first {
        order: 2;
        margin: 54px 0 0 0;
        justify-content: center;
    }
    .footer__middle-second {
        order: 3;
        margin: 40px 0 0 0;
        justify-content: center;
    }
    .footer__bottom {
        margin: 75px 0 0 0;
        flex-direction: column;
        align-items: center;
    }
    .footer__rights {
        margin: 6px 0 0 0;
    }
}

/* --------------------------------------------------------- Adaptive styles end --------------------------------------------------------- */
