.body-lux-p-p-light {
  background-image: url("../images/contact/background-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2d3ce;
}

/* width */
:root::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
:root::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
:root::-webkit-scrollbar-thumb {
  background: var(--brown-color);
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --white-color: white;
  --brown-color: #79655e;
}

/*-----------------------------main-----------------------------*/
.main-lux-p-p-light {
  font-family: "Forum";
  font-style: normal;
}

.wrapper-lppl {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: clamp(35rem, 80%, 130rem);
  margin-right: auto;
  margin-left: auto;
}

.section button {
  transition: 1s;
}

.section button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0.2rem black;
}

/*-----------------------navigator--------------------------*/
.section-navigation {
  padding: 0 2rem;
}

.section-navigation ul {
  display: flex;
  color: #79655e;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  gap: 3rem;
}

.section-navigation ul li {
  transition: 0.4s linear;
  position: relative;
}

.section-navigation ul li:hover::after {
  position: absolute;
  content: url("../images/svg/lux-p-p-light/link-decoration.svg");
  right: 50%;
  top: 100%;
}

.section-navigation ul li:hover {
  color: black;
}

/*------------------------------------------------------------*/

/*-------------------------Button Container---------------------------------*/

.section .container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section .container-button img:first-of-type {
  width: clamp(4rem, 4vw, 6rem);
}

.section .container-button img:last-of-type {
  width: clamp(2rem, 4vw, 4rem);
}

.section .container-button button {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.section input:focus {
  box-shadow: 0 0 1rem 0.5rem white;
}

.section-7 .container-form form input:focus {
  box-shadow: 0 0 1rem 0.1rem black;
}

/*----------------------------------------------------------*/

/*-----------------------------section-1-----------------------------*/
.section-1 {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*------------------------------frame--------------------------------*/
/* .section-1::before,
.section-1::after {
  position: absolute;
  content: url(../svg/lux-p-p-light/frame-1.svg);
  left: 5%;
  z-index: -1;
}

.section-1::before {
  bottom: 2%;
}

.section-1::after {
  bottom: -2%;
} */

/*-----------------------------------------------*/

.section-1 h1 {
  font-size: clamp(2.5rem, 4vw, 6rem);
  color: initial;
  text-align: center;
  font-style: italic;
}

.section-1 > .container {
  background-image: url(../images/lux-p-p-light/star-light-horizontal.png);
  box-shadow: 0 0 1rem 0.2rem white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 21/10;
  filter: contrast(120%) saturate(150%);
  display: grid;
  grid-template-columns: 1fr 1fr auto 25%;
  grid-template-rows: 1fr auto auto auto;
  padding: 0 clamp(1rem, 5vw, 5rem);
  border-radius: 1rem;
  position: relative;
  gap: 1rem;
}

.section-1 > .container .name-location {
  grid-column: 1/2;
  grid-row: 3/4;
}

.section-1 > .container > h2 {
  grid-column: 1/3;
  grid-row: 4/5;
  font-size: clamp(2rem, 3.5vw, 6rem);
  align-self: end;
  transform: translateY(50%);
}

.section-1 > .container > .snake-rhombs {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.2rem;
}

.section-1 > .container .name-location {
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  animation: text-color 4s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.section-1 > .container .name-location::before {
  content: url(../images/svg/lux-p-p-light/location-marker.svg);
}

.section-1 > .container p {
  grid-column: 3/4;
  grid-row: 4/5;
  font-size: 1.2rem;
  text-transform: uppercase;
  align-self: end;
  transform: translateY(50%);
}

.section-1 > .container p > span {
  font-size: clamp(1.2rem, 4vw, 2.4rem);
}

.section-1 > .container > button:first-of-type {
  grid-column: 4/5;
  grid-row: 4/5;
  background-color: var(--white-color);
  color: initial;
  text-transform: uppercase;
  padding: 1.5rem clamp(1rem, 2vw, 4rem);
  font-size: clamp(1rem, 2vw, 1.6rem);
  border-radius: 3rem;
  justify-self: center;
  align-self: end;
  transform: translateY(50%);
  font-weight: bold;
}

.section-1 > .container > button:first-of-type:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0.2rem white;
  transform: translateY(0);
}

.section-1 .container-button {
  grid-row: 5/6;
  grid-column: 1/5;
  transform: translateY(50%);
}

.section-1 .container-button button {
  color: black;
  background-color: var(--white-color);
  padding: 1.5rem clamp(3rem, 4vw, 6rem);
}

.snake-rhombs {
  display: flex;
  flex-direction: column;
}

/*-----------------------------section-2-----------------------------*/

.section-2 {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(30rem, 60%, 40rem), 1fr)
  );
  grid-auto-rows: auto;
  background-color: var(--white-color);
  padding: clamp(1rem, 4vw, 6rem) clamp(1rem, 4vw, 7rem);
  border-radius: 1rem;
  font-size: 1.8rem;
  line-height: 1.6;
  row-gap: 3rem;
}

.section-2 > .col-1 {
  justify-self: center;
  grid-row: 1/3;
}

.section-2 .col-1 img {
  border-radius: 1rem;
}

.section-2 .col-1 .container-button {
  transform: translateY(-130%);
}

.section-2 .col-1 .container-button button {
  background-color: var(--white-color);
  color: initial;
  padding: 1rem 5rem;
}

.section-2 > .col-2 {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.section-2 > .col-2 .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-2 > .col-2 .list > ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-2 > .col-2 .list > ul li::before {
  content: url(../images/svg/lux-p-p-light/component-1.svg);
  margin-right: 1rem;
}

.section-2 > .col-2 .list > h6 {
  font-weight: bold;
}

.section-2 > .col-2 .list > h6::first-letter {
  text-transform: capitalize;
}

.section-2 > .col-2 > .col-1 {
  display: flex;
  flex-direction: column;
}

.section-2 > .col-2 > .col-1 h2 {
  font-size: clamp(3rem, 4vw, 4rem);
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.section-2 > .col-2 > .col-1 .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-2 > .col-2 > .col-1 .info > .col-1 {
  text-transform: capitalize;
  font-weight: bold;
}

.section-2 > .col-2 > .col-1 .info > .col-2 > ul li:not(li:first-of-type) {
  text-transform: uppercase;
}

.section-2 > .col-2 > .col-1 .info ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*-----------------------------section-3-----------------------------*/

.section-3 {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: clamp(1rem, 4vw, 6rem) clamp(1rem, 4vw, 7rem);
}

.section-3 .main-content {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 2rem;
}

.section-3 h2 {
  font-size: clamp(3rem, 4vw, 4rem);
  text-align: center;
}

/*------------*/

.section-3 .main-content > .col-1 {
  display: flex;
  flex-direction: column;
  counter-reset: number;
}

.section-3 .main-content > .col-1 .rhomb-part {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.section-3 .main-content > .col-1 .rhomb-part::after {
  counter-increment: number;
  content: counter(number);
  position: absolute;
  left: 7.5%;
  font-size: clamp(3rem, 4vw, 4rem);
}

.section-3 .main-content > .col-1 .rhomb-part > p {
  font-size: clamp(2rem, 2vw, 3.5rem);
}

.section-3 .main-content > .col-1 img[src="../images/lux-p-p-light/line.png"] {
  width: 1px;
  margin-left: 3.2rem;
}

/*------------*/

.section-3 .main-content > .col-2 .part {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

.section-3 .main-content > .col-2 .part .included-section h6 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.section-3 :where(.included-section, .extras-section) ul li::before {
  content: url(../images/svg/lux-p-p-light/component-1.svg);
  margin-right: 1rem;
}

.section-3 .included-section:nth-child(4) ul li::before {
  content: url(../images/svg/lux-p-p-light/cross.svg);
  margin-right: 1rem;
}

.section-3 .main-content > .col-2 .part-2 {
  margin-top: 40rem;
}

.section-3 .main-content > .col-2 .part-3 {
  margin-top: 40rem;
}

.section-3 .main-content > .col-2 .part-4 {
  margin-top: 15rem;
}

.section-3 .main-content > .col-2 .part-2 > .included-section p:last-of-type {
  margin-top: 5rem;
  color: #79655e;
}

/*------------*/

.section-3 :where(.included-section, .extras-section) ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.section-3 .included-section-main {
  margin-top: 10rem;
}

.section-3 .list {
  margin-left: clamp(1rem, 4vw, 10rem);
}

.section-3 > .list h5 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.section-3 .end-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.section-3 .end-content > p:first-of-type {
  width: 70%;
}

/*Container-Button*/

.section-3 .end-content > .container-button button {
  background-color: black;
  color: white;
}

/*-----------------------------section-4-----------------------------*/

.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding-top: 5rem;
  gap: 6rem;
}

.section-4 h2 {
  font-size: 4rem;
}

.section-4 p {
  font-size: 1.8rem;
  line-height: 1.6;
  width: 70%;
}

.section-4 .section-map {
  background-image: url(../images/lux-p-p-light/map.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}

.section-4 .section-map::after {
  position: absolute;
  top: 35%;
  right: 49%;
  content: url(../images/svg/lux-p-p-light/brown-rhomb.svg);
}

/*-----------------------------section-5-----------------------------*/

.section-5 {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: clamp(1rem, 4vw, 6rem) clamp(1rem, 4vw, 7rem);
  border-radius: 1rem;
  gap: 6rem;
}

.section-5 h2 {
  font-size: 4rem;
  text-align: center;
}

.section-5 .container hr {
  height: 1px;
  width: 100%;
  background-color: #e2d3ce;
}

.section-5 .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-5 .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  row-gap: 2rem;
}

.section-5 .container .row h3 {
  font-size: clamp(3rem, 4vw, 4rem);
}

.section-5 .container .row > p {
  font-size: 1.8rem;
  line-height: 1.6;
}

/*-----------------------------section-6-----------------------------*/

.section-6 {
  padding: clamp(1rem, 4vw, 6rem) clamp(1rem, 4vw, 7rem);
  background-color: var(--white-color);
  border-radius: 1rem;
}
.section-6 h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
}

.section-6 .container-gallery {
  display: grid;
  grid-template-columns: 45rem 1fr;
  grid-template-rows: auto 35rem auto auto 1fr;
  gap: 2rem;
}

.section-6 .container-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  filter: contrast(120%) saturate(150%);
}

.section-6 .container-gallery img:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

.section-6 .container-gallery img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.section-6 .container-gallery img:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.section-6 .container-gallery img:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/5;
}

.section-6 .container-gallery img:nth-child(5) {
  grid-column: 1/2;
  grid-row: 4/5;
}

.section-6 .container-gallery img:nth-child(6) {
  grid-column: 1/3;
  grid-row: 5/6;
}

/*-----------------------------section-7-----------------------------*/

.section-7 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: clamp(1rem, 4vw, 6rem) clamp(1rem, 4vw, 7rem);
}

.section-7 h2 {
  text-align: center;
  font-size: 4rem;
}

.section-7 > button:first-of-type {
  text-transform: uppercase;
  border: 1px solid #0c0b10;
  border-radius: 4rem;
  align-self: center;
  padding: 1rem 4rem;
}

.section-7 .container-snakes-rhomb {
  display: flex;
  justify-content: space-between;
}

.section-7 .container-snakes-rhomb .snake {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  color: var(--brown-color);
}

.section-7 .container-snakes-rhomb .snake-rhomb-1 {
  position: relative;
}

.section-7 .container-snakes-rhomb .snake-rhomb-1::after {
  position: absolute;
  top: 30%;
  right: -80%;
  content: "5.0";
  font-size: 5.5rem;
}

.section-7 .card {
  border-radius: 1rem;
  padding: clamp(1rem, 4vw, 3rem) clamp(1rem, 4vw, 4rem);
  background: rgba(226, 211, 206, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  gap: 4rem;
}

.section-7 .card .col-2 .container-snakes-rhomb {
  flex-wrap: wrap;
  gap: 1rem;
}

.section-7 .card > .col {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-7 .card > .col-1 p:first-of-type {
  font-size: 1.8rem;
  line-height: 1.6;
}

.section-7 .card > .col-1 p:last-of-type {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.6;
}

.section-7 .card > .col-1 p:last-of-type span {
  font-size: 1.4rem;
  color: #1d1a1a;
}

.section-7 > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.section-7 > h3 {
  font-size: 4rem;
  text-align: center;
}

.section-7 .container-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  align-items: center;
}

.section-7 .container-form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-7 .container-form form input {
  width: 100%;
  border: 1px solid #e2d3ce;
  border-radius: 4rem;
  padding: 1rem 2rem;
}

.section-7 .container-form form label:last-of-type input {
  border-radius: 1rem;
  min-height: 20rem;
  padding-bottom: 15rem;
}

.section-7 .container-form .container-snakes-empty-rhomb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.section-7 .container-form .container-snakes-empty-rhomb .snake {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
}

/*Container-Button*/

.section-7 > .container-button button {
  background-color: black;
  color: white;
}

/*-----------------------------section-8-----------------------------*/

.section-8 {
  display: flex;
  gap: 6rem;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: clamp(1rem, 10vw, 10rem) clamp(1rem, 20vw, 30rem);
}

.section-8 h2 {
  font-size: 4rem;
  text-align: center;
}

.section-8 .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section-8 .container p:first-of-type {
  font-size: clamp(3rem, 4vw, 4rem);
  line-height: 1.2;
}

.section-8 .container p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.section-8 .container h3 {
  font-size: 4rem;
}

/*-----------------------------section-9-----------------------------*/

.section-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.section-9 .container {
  border-radius: 1rem;
  background-image: url(../images/lux-p-p-light/coast.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 21/9;
  width: 100%;
  display: grid;
  grid-template-columns: 60rem repeat(auto-fit, minmax(30rem, 1fr)) 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  padding: clamp(1rem, 10vw, 6rem) clamp(1rem, 20vw, 8rem);
  row-gap: 1rem;
  filter: drop-shadow(0 0 1rem var(--brown-color));
}

.section-9 .container h2 {
  font-size: clamp(3rem, 4vw, 6rem);
  color: var(--white-color);
  grid-column: 1/2;
  grid-row: 1/2;
}

.section-9 .container p {
  font-size: 1.6rem;
  color: var(--white-color);
  grid-column: 1/2;
  grid-row: 2/3;
}

.section-9 .container > input {
  grid-column: 1/3;
  grid-row: 3/4;
  width: clamp(20rem, 100%, 80rem);
  align-self: center;
  border: 1px solid white;
  border-radius: 4rem;
  padding: 1.4rem 2rem;
  margin-top: 0.8rem;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.section-9 .container > input::placeholder {
  color: black;
}

.section-9 .container .container-button {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: start;
}

.section-9 .container .container-button button {
  background-color: var(--white-color);
  color: black;
  padding: 1.5rem 8rem;
}

/*--------------------------------Adaptive Section----------------------------------*/

@media (width < 1440px) {
  .section-6 .container-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .section-6 .container-gallery img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .section-6 .container-gallery img:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .section-6 .container-gallery img:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .section-6 .container-gallery img:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .section-6 .container-gallery img:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .section-6 .container-gallery img:nth-child(6) {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .section-9 .container h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .section-9 .container p {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .section-9 .container .container-button {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media (1280px < width < 1439px) {
}

@media (1024px < width < 1279px) {
  .section-3 .main-content > .col-1 .rhomb-part::after {
    left: 11%;
  }
}

@media (768px < width < 1023px) {
  .section-3
    .main-content
    > .col-1
    img[src="../images/lux-p-p-light/line.png"] {
    width: 1px;
    margin-left: 3.2rem;
    height: clamp(100rem, 50%, 200rem);
  }
  .section-3 .main-content > .col-1 .rhomb-part::after {
    left: 14%;
  }
}
@media (480px <= width < 767px) {
  .snake-rhombs {
    display: none;
  }

  .section-1 > .container p {
    transform: translateY(-100%);
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .section-1 > .container > button:first-of-type {
    padding: 0.5rem 1rem;
  }

  .section-3 .main-content > .col-1 .rhomb-part > p {
    display: none;
  }

  .section-3
    .main-content
    > .col-1
    img[src="../images/lux-p-p-light/line.png"] {
    width: 1px;
    margin-left: 3.2rem;
    height: clamp(100rem, 50%, 200rem);
  }

  .section-3 .main-content > .col-1 .rhomb-part::after {
    left: 23%;
  }

  .section-5 .container .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .section-7 .container-snakes-rhomb .snake-rhomb-1::after {
    content: none;
  }
}
@media (width <= 479px) {
  .snake-rhombs {
    display: none;
  }

  .section-1 > .container p {
    transform: translateY(-100%);
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .section-1 > .container > button:first-of-type {
    padding: 0.5rem 1rem;
  }

  .section-3
    .main-content
    > .col-1
    img[src="../images/lux-p-p-light/line.png"] {
    width: 1px;
    margin-left: 3.2rem;
    height: clamp(100rem, 50%, 200rem);
  }

  .section-3 .main-content > .col-1 .rhomb-part > p {
    display: none;
  }

  .section-3 .main-content > .col-1 .rhomb-part::after {
    left: 28%;
  }

  .section-5 .container .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .section-7 .container-snakes-rhomb .snake-rhomb-1::after {
    content: none;
  }
}

@keyframes text-color {
  0% {
    color: #e55807;
  }

  25% {
    color: #e8aa42;
  }

  50% {
    color: #47a992;
  }

  75% {
    color: #b799ff;
  }

  100% {
    color: #79e0ee;
  }
}
